.header-container {
  position: absolute;
  top: 0;
  // left: 0;
  width: 100%;
  background-color: transparent;
  // color: white;
  z-index: 1001;
  // display: none;
  // border: 1px solid red;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
