.header-container {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  z-index: 1001;
}

.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
